* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.img {
  background-color: #fff;
  border: 3px solid #ccc;
  border-radius: 50%;
  padding: 3px;
}

/* Navigation */
.menu {
  background-color: #000;
  color: #fff;
  margin-bottom: 30px;
  padding: 10px 0;
  width: 100%;
}

.menu,
.menu-items,
.links,
ul {
  display: flex;
}

.menu {
  justify-content: center;
}

.menu-items,
.links {
  align-items: center;
}

.menu-items {
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
  max-width: 1000px;
  width: 100%;
}

.links > h2 {
  font-size: 2rem;
  margin-right: 20px;
}

.links a {
  color: #ccc;
  margin: 0 10px;
  text-decoration: none;
}

.links li {
  list-style-type: none;
}

.nav-btn {
  background-color: #18a2b8;
  border: 2px solid #000;
  color: #fff;
  letter-spacing: .1rem;
  padding: 7px 15px;
}

/* Main content */
.container {
  display: flex;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

/* Profile Card */
.left-column {
  flex: 2;
}

.left-column {
  margin-right: 20px;
}

.profile-card,
.education,
.current-connections,
.connection-items,
.view-more {
  border: 3px solid #ccc;
  border-top: 0;
}


.profile-card {
  font-size: 1.2rem;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

.profile-header {
  background-color: #18a2b8;
  border-radius: 3px;
  height: 125px;
  margin-bottom: 80px;
}

.profile-img {
  margin-top: 60px;
  margin-left: 20px;
  width: 130px;
}

.profile-content {
  margin-left: 20px;
}

.profile-name {
  margin-bottom: 20px;
}

.profile-description {
  margin: 20px 0;
}

.icon {
    height: 20px;
}

/* Education section */
.education-header {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
}

.description-header,
.education-details,
.education-date {
  margin: 20px 10px;
}

.education {
  border-bottom: 0;
}

.description-header {
  font-size: 1.45rem;
}

.education-date {
  color: #ccc;
  font-weight: bold;
}

/* Connections Sidebar */
.connections {
  flex: 1;
  margin-left: 20px;
}

.connection-requests {
  margin-bottom: 30px;
}

.connections-header {
  background-color: #000;
  color: #fff;
  padding: 20px;
}

.gray-circle {
  background-color: #ccc;
  color: #333;
  font-size: 20px;
  border-radius: 15px;
  padding: 2px 10px;
  margin-right: 10px;
}

.img-small {
  width: 50px;
}

.icon-small {
  width: 30px;
  margin: 0 2px;
}

.connection-1,
.connection-2,
.connection-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.current-connections,
.details {
  display: flex;
}

.current-connections {
  flex-direction: column;
  padding-top: 10px;
}

.details {
  align-items: center;
  margin: 5px 20px;
}

.connection-1 {
  margin-bottom: 20px;
}

.connection-items {
  padding: 20px;
}

.name {
  font-size: 1.25rem;
  font-weight: bold;
  margin-left: 20px;
}

.view-more {
  padding: 15px 20px;
}
